.sidebar{
  width: 40%;
  float: right;
  background-color: magenta;
  border: 10px solid purple;
  padding: 6px;
  margin: 60px;
}

img{
padding:20px;
}


.header{
  color: Yellow;
  text-align: center;
  background-color: red;
}
