.sidebar{
  width: 40%;
  float: right;
  background-color: magenta;
  border: 10px solid purple;
  padding: 6px;
  margin: 60px;

}

img{
padding:20px;
}


.header{
  color: Yellow;
  text-align: center;
  background-color: red;
}

body{
  font-family: Arial;
}

@media screen and (min-width:480px) and (max-width:767px){
  body{
    background-color: black;
    color: white;
  }
}

@media screen and (min-width:768px){
  body{
    background-color: skyblue;
  }
  .column{
    width: 220px;
    float: left;
    padding: 15px;
  }
}
